

/* Flash message */

 .alert-container {
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
            transform: translateY(-100%);
            opacity: 0;
            pointer-events: none;
        }
        /* The 'show' class makes the alert visible and starts the timer */
        .alert-container.show {
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
        }
        .inter-font {
            font-family: 'Inter', sans-serif;
        }