<% layout('layouts/boilerplate')%>
    <h1>Add new place</h1>
    <form action="/places" method="POST">
      <div>
        <label for="title">Title: </label>
        <input type="text" name="place[title]" />
      </div>
      <div>
        <label for="location">Location: </label>
        <input type="text" name="place[location]" />
      </div>
      <button>Submit</button>
    </form>
    <a href="/places">Back to places</a>