<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Place</title>
  </head>
  <body>
    <h1>Add new place</h1>
    <form action="/places/<%=place._id%>?_method=PUT" method="POST">
      <div>
        <label for="title">Title: </label>
        <input type="text" name="place[title]" value="<%=place.title%>" />
      </div>
      <div>
        <label for="location">Location: </label>
        <input type="text" name="place[location]" value="<%=place.location%>" />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
